.comment {
    display: flex;
    width: 95%;
    height: fit-content;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    padding: 1rem;
    gap: 1rem;
    margin: 1rem;
    border: .3vh solid black;
}

.commentContent {
    display: flex;
    max-width: 80%;
    justify-content: left;
    word-wrap: break-word;
    white-space: normal;
}

.commentContent p {
    color: black;
    font: 1em 'Poppins', sans-serif;
}

.commentHeader p {
    color: black;
    font: .9em 'Poppins', sans-serif;
    font-weight: bold;
}

.commentFooter button {
    cursor: pointer;
    font: .8em 'Poppins', sans-serif;
    border-radius: 10px;
    width: 6vw;
    height: 4vh;
    background-color: rgb(203, 197, 197);
}

.commentFooter button:hover {
    background-color: rgb(220, 61, 43);
    color: rgb(255, 255, 255);
}

.noCommentsImage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 4vw;
}